@use "sass:color"

:root
  --square--light: white
  --square--dark: skyblue

  --coordinate--light: var(--square--dark)
  --coordinate--dark: var(--square--light)

  --highlight--control: #{ color.adjust(red, $alpha: -0.75) }
  --highlight--shift: #{ color.adjust(green, $alpha: -0.75) }
  --highlight--alt: #{ color.adjust(blue, $alpha: -0.75) }
  --highlight--default: #{ color.adjust(yellow, $alpha: -0.75) }
  --highlight--select: #{ color.adjust(skyblue, $lightness: -15%, $saturation: 10%, $alpha: -0.5) }
  --highlight--last-move: #{ color.adjust(skyblue, $lightness: -15%, $saturation: 10%, $alpha: -0.5) }
  --highlight--legal-move: #{ color.adjust(gray, $alpha: -0.75) }

  --arrow--control: red
  --arrow--shift: green
  --arrow--alt: blue
  --arrow--default: yellow
